<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="files/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="files/css/style.css" />	
	</head>
	<body ng-app="nodeApp">
  		<div class="container" ng-controller="apiContrller">
  				<div class="loader-class" ng-show="loader"></div>
  			<nav class="topMenu well">
  				<ul class="list-unstyled margin0">
  					<li><a href="/">File stream</a></li>
  					<li><a href="/validatejson">JSON read</a></li>
  					<li class="active"><a href="/recursive">Recursive method</a></li>
  				</ul>
  			</nav>
     

	      	<h3 class="text-center">MOXI WORKS CONTACTS</h3>


	      	<div class="row margin0">
	      		<div class="search_bar">
	      			<input type="text" ng-model="search_tab" placeholder="Search here..">
	      			<button><i class="fa fa-search"></i></button>
	      		</div>
	      		<div class="export_dv">
	      			<i class="fa fa-cloud-download"></i>
	      			<ul class="list-unstyled">
	      				<li ng-csv="contact_data" filename="{{ filename }}.csv" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}" data-toggle="tooltip" title="Export to CSV!" data-placement="right"><i class="fa fa-file-excel-o"></i></li>
	      			</ul>
	      		</div>

	      		<div class="export_dv pull-right">
	      			<i data-toggle="tooltip" title="Refresh Data" class="fa fa-refresh" ng-click="syncData()"></i>
	      		</div>
	      	</div>	
	      		<table class="showTable table table-bordered table-condensed">
	      			<thead>
	      				<tr>
	      					<td>Contact_Id</td>
	      					<td>Name</td>
	      					<td>Email</td>
	      					<td>Phone</td>
	      					<td>Social Prof</td>
	      				</tr>

	      				<tbody>
	      					<tr ng-repeat="row in contact_data | filter : search_tab | startFrom:currentPage*pageSize | limitTo:pageSize">
	      						<td>{{row.moxi_works_contact_id}}</td>
	      						<td>{{row.contact_name}}</td>
	      						<td>{{row.primary_email_address}}</td>
	      						<td>{{row.primary_phone_number}}</td>
	      						<td>
	      							<ul class="list-unstyled social_href">
	      								<li ng-repeat="icon in row.social_media_profiles">
	      									<a class="fa fa-facebook" ng-if="$index == 0 && icon.key == 'facebook'" href="{{icon.url}}" ng-class="{'displayNone' : icon.url == '' || icon.url == null}"></a>
	      									<a class="fa fa-twitter"  ng-if="$index == 2 && icon.key == 'twitter'"  href="{{icon.url}}" ng-class="{'displayNone' : icon.url == '' || icon.url == null}"></a>
	      									<a class="fa fa-linkedin" ng-if="$index == 1 && icon.key == 'linkedin'" href="{{icon.url}}" ng-class="{'displayNone' : icon.url == '' || icon.url == null}"></a>
	      									<a class="fa fa-google-plus" ng-if="$index == 3 && icon.key == 'googleplus'" href="{{icon.url}}" ng-class="{'displayNone' : icon.url == '' || icon.url == null}"></a>
	      								</li>
	      							</ul>
	      						</td>
	      					</tr>
	      				</tbody>
	      			</thead>
	      		</table>

	      		<div class="row">
	      			<div class="pull-right">
	      				<ul class="pagination paginat_s">
	      					<li><a><button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="fa fa-angle-left"></button></a></li>
	      					<li><a class="noBorder">{{currentPage+1}}/{{numberOfPages()}}</a></li>
	      					<li><a><button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" class="fa fa-angle-right"></button></a></li>
	      				</ul>
	      			</div>
	      		</div>
	      	</div>
      	</div>	

  		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Angular library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    	<script src="files/js/ng-csv.js"></script>
		
		<script src="files/js/file-upload.js"></script>
		<script src="files/js/file-upload-shim.js"></script>

		<script src="files/js/app.js"></script>
		<script src="controllers/apicontrller.js"></script>


		<script>
			$(document).ready(function(){
			    $('[data-toggle="tooltip"]').tooltip();   
			});
		</script>
	</body>
</html>